<h1>Recipe ingredients</h1>


<ul>
{% for recipe in recipes %}
    
    <li>{{recipe.title}}</li>
   <li><a href="/authorview/{{recipe.author.id}}/"> {{recipe.author}} </a></li>
    <li>{{recipe.description}}</li>
    <li>{{recipe.timerequired}} minutes</li>
    <li>{{recipe.instructions}}</li>
    <li><a href = "/editrecipe/{{ recipe.pk }}/"> <button>Edit this recipe</button></a></li>

    {% if user.is_authenticated %}
        <a href='/favorite/{{ recipe.pk }}/{{user.pk}}'> Add to Favorites </a>
    {% endif %}
{% endfor %}
</ul>

{% comment %} <a href="/authorview/{{i.author.id}}/"> <li>{{ i.author.name }}</li> </a> {% endcomment %}