<h1> Recipes!</h1>
{% comment %} <ul>
<a href = "/create_user/"> <li>Register</li>
<a href = "/login/"> <li>Login</li>
</ul> {% endcomment %}

 <ul>
 <li><a href = "/login/"> <button>Login</button></a></li>
 <li><a href = "/logout/"><button>Logout</button></a></li>
 <li><a href = "/authoradd/"> <button>Create a new User</button></a></li>
 <li><a href = "/recipeadd/"> <button>Add a new Recipe</button></a></li>

    {% for i in data %}
       <a href="/detail/{{i.id}}/"> <li>{{ i.title }}</li> </a>       
        {% comment %} <ul>
            <li>{{ i.description }}</li>
        </ul> {% endcomment %}
    {% endfor %}

 </ul>
 {% comment %} <ul>
 <a href="authoradd/"> <li> Add Author </li> </a>
 </ul> {% endcomment %}